body {
    background-color: #673ab7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}
